<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<style type="text/css">
			* {
				font-family: sans-serif;
			}
			img {
			    max-width: 180px;
			    max-height: 180px;
			}
			.painting_div {
			border-style: solid;
			height:200px;
			width:200px;
			padding:2%;
			}

			.painting_grid {
			max-width:300px;
			padding:0%;
			margin:0%;
			}
			.recommendations, #image_results{
				display:flex;
				flex-wrap: wrap;
				margin: 0 auto;
				width: 900px;
			}
		</style>
	</head>


    <body>
		<h1>Muse: your personal museum guide!</h1>
		<h2>To plan your route, simply click on a painting you like, Muse then recommends similar paintings</h2>
		<h2>When you're done, click the plan my route button and Muse gives you your selections!</h2>



        <form method="post" id="recommend">
			<button id="recommend_button"">plan my route!</button>
		</form>

		<div id="route"></div>

        <div id="square"></div>

		<div id="image_results"></div>

        <div class="recommendations">

			{% for item in data %}

				<div class="painting_div">
					<img src="static/img/{{ item }}.jpg" data-painting-id="{{ item }}">
					<p> {{item}}</p>
				</div>

            {% endfor %}

        </div>




        <script src="https://code.jquery.com/jquery-3.2.1.min.js">
        </script>

        <script>

			var arr = []

			// when a painting_div inside of recommendations is clicked
			$('.recommendations').on('click', '.painting_div', function(e) {
				var painting_id= $(this)
					.find('img') // look for the img tag
					.data('paintingId'); // get the data-painting-id attribute
				$.ajax({
					url: '/square/',
					data: {'painting_number': painting_id},
					method: 'POST',
					success: function(return_value) {
						var images = '';
						for (x=0; x < return_value['result'].length; x++) {
						    images += '<div class="painting_div"><img src="static/img/' + return_value['result'][x] + '.jpg" data-painting-id="' + return_value['result'][x] + '"><p>' + return_value['result'][x] + '</p></div>';

						}
						$('#square').html('you chose: ' + painting_id + '<br><br> here are some other suggestions:<br><br>')
						$('.recommendations').html(images);
					    arr.push(painting_id);
					    }
				});
			});



			$('#recommend').on('click', function(e){
				e.preventDefault();
				var route_images = '';
				for (x=0; x < arr.length; x++) {
					route_images += '<div class="painting_div"><img src="static/img/' + arr[x] + '.jpg" data-painting-id="' + arr[x] + '"><p>' + arr[x] + '</p></div>';
				}
				$('#square').html('')

				$('#route').html('this is your route through the museum: <br><br>');
				$('.recommendations').html(route_images);
			});
		</script>


    </body>

</html>